/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Overpass, sans-serif;
}

button {
  font-family: Ubuntu;
}

/* start hero */
.hero {
  background-image: linear-gradient(135deg, #ff8f70 0%, #ff3d54 100%);
  width: 100%;
  color: white;
  padding: 13rem 2.6rem 10.5rem;
  border-radius: 0 0 0 100px;
  position: relative;
  text-align: center;
  height: auto;
  z-index: 2;
  overflow: hidden;
}

.hero .bg-svg {
  position: absolute;
  bottom: -33rem;
  right: -42rem;
  width: 380%;
}

.hero .logo {
  width: 5rem;
  height: auto;
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  z-index: 3;
}

.hero .hamburger-menu {
  position: absolute;
  top: 3.7rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.hero .hero-text {
  position: relative;
  z-index: 3;
}

.hero h1 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -.04em;
  line-height: 1.3;
  padding-bottom: .9rem;
  z-index: 10;
}

.hero .heading-caption {
  color: white;
  opacity: .7;
  font-size: 1.1rem;
  padding-bottom: 2.5rem;
  z-index: 5;
}

.hero .hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.hero .hero-btn {
  padding: .75rem 1.25rem;
  background: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.hero .hero-btn:first-child {
  color: #ff525d;
}

.hero .hero-btn:first-child:hover {
  background-color: #ff7a85;
  color: white;
}

.hero .hero-btn:last-child {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.hero .hero-btn:last-child:hover {
  background-color: white;
  color: #ff7a85;
}

/* end hero */
/* start mobile-menu */
.mobile-menu {
  position: fixed;
  top: 7.75rem;
  left: 50%;
  -webkit-transform: translateX(-163%);
          transform: translateX(-163%);
  -webkit-transition: -webkit-transform .001s ease-in;
  transition: -webkit-transform .001s ease-in;
  transition: transform .001s ease-in;
  transition: transform .001s ease-in, -webkit-transform .001s ease-in;
  z-index: 10;
  background: white;
  width: 87%;
  list-style-type: none;
  padding: 1.6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 30px 30px -30px #4b5862;
          box-shadow: 0px 30px 30px -30px #4b5862;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  font-size: 1rem;
  cursor: pointer;
}

.mobile-menu .menu-category {
  font-size: 1.15rem;
  color: #1f3f5b;
  padding: .875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu .menu-category:hover {
  font-weight: bold;
}

.mobile-menu button {
  cursor: pointer;
}

.mobile-menu .login {
  color: #1f3f5b;
  padding-bottom: 1rem;
  background: white;
  border: none;
  font-family: Overpass;
  font-size: 1.15rem;
  font-weight: 600;
  padding: .9rem 2.75rem;
}

.mobile-menu .login:hover {
  text-decoration: underline;
}

.mobile-menu .sign-up {
  background-image: linear-gradient(135deg, #ff8f70 5%, #ff3d54 100%);
  border-radius: 30px;
  border: 0;
  padding: .9rem 2.75rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .375rem;
}

.mobile-menu .sign-up:hover {
  background-image: none;
  background-color: white;
  color: #ff525d;
}

.mobile-menu .arrow {
  -webkit-transform-origin: 75% 50%;
          transform-origin: 75% 50%;
}

.mobile-menu .arrow-dark {
  padding-left: .4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-menu .arrow-light {
  display: none;
}

.mobile-menu .toggle-block {
  display: block !important;
}

.mobile-menu .toggle-rotate {
  -webkit-transform-origin: 75% 50%;
          transform-origin: 75% 50%;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.mobile-menu .items {
  display: none;
  background: #e9e9ec;
  padding: 1rem;
  color: #1f3f5b;
  opacity: .7;
  border-radius: 5px;
}

.mobile-menu .items li {
  padding: .6rem;
}

.mobile-menu .items li:hover {
  text-shadow: 1px 0px 0px #1f3f5b;
}

.mobile-menu hr {
  width: 100%;
  color: #e9e9ec;
  opacity: .4;
  margin: 1.375rem auto;
}

/* end mobile-menu */
/* start main (Designed for...) */
main {
  margin-top: 6rem;
  text-align: center;
  /* "Designed for..." */
}

main .white-bkg1-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -.02em;
  color: #1f3f5b;
  text-align: center;
}

main h2 {
  font-size: 1.7rem;
  line-height: 1.125;
  color: #1f3f5b;
  padding: 0 2rem 1.4rem;
}

main .editor {
  width: 100%;
  margin: 6rem 0 3.5rem;
  position: relative;
}

main p {
  padding: 0 2rem 0;
  font-size: 1.05rem;
  line-height: 1.7;
  color: #4b5862;
  opacity: .8;
}

main p:nth-of-type(1) {
  margin-bottom: 3rem;
}

main .dark-blue-bkg {
  background-color: #3f4164;
  color: white;
  position: relative;
  padding: 14rem 0 1rem;
  overflow-x: initial;
  margin: 17rem 0 6rem;
  border-radius: 0 100px 0 100px;
}

main .dark-blue-bkg .phones {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  top: -11.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .dark-blue-bkg h3 {
  font-size: 2.375rem;
  font-weight: 600;
  padding-bottom: 1.375rem;
}

main .dark-blue-bkg p {
  color: white;
}

main .white-bkg2 {
  padding-top: 4rem;
}

main .white-bkg2 .laptop {
  width: 100%;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  margin-bottom: 5rem;
}

/* end main */
footer {
  font-family: Ubuntu;
  font-size: 1.125rem;
  margin-top: 6rem;
  background-color: #25252d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0 100px 0 0;
}

footer .footer-logo {
  padding: 5rem 0;
  cursor: pointer;
}

footer .footer-title {
  font-weight: initial;
  padding-bottom: 2.1rem;
}

footer .footer-items {
  list-style-type: none;
  padding-bottom: 2.5rem;
}

footer .footer-items li {
  padding-bottom: 0.8rem;
  color: #e9e9ec;
  opacity: .67;
  cursor: pointer;
}

footer .footer-items li:hover {
  text-decoration: underline;
}

footer .footer-items:last-child {
  padding-bottom: 4.25rem;
}

@media only screen and (min-width: 950px) {
  *,
  *::before,
  *::after {
    overflow-x: unset;
  }
  .hero {
    overflow: hidden;
  }
  .hero .bg-svg {
    position: absolute;
    z-index: 2;
    bottom: -65%;
    left: 25%;
    width: 100%;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .hero .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -10rem;
    padding: 0 6rem;
  }
  .hero .header-flex .logo,
  .hero .header-flex .mobile-menu {
    position: relative;
    top: unset;
  }
  .hero .header-flex .logo {
    left: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .hero .header-flex .hamburger-menu {
    display: none;
  }
  .hero .mobile-menu {
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
  }
  .hero .mobile-menu .menu-category {
    color: rgba(255, 255, 255, 0.686);
    font-weight: bold;
    font-family: Ubuntu;
  }
  .hero .mobile-menu .arrow-light {
    display: inline;
    padding-left: .4rem;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    opacity: .6;
  }
  .hero .mobile-menu .menu-category:hover {
    color: white;
    text-decoration: underline;
  }
  .hero .mobile-menu .menu-category:hover
.arrow-light {
    opacity: 1;
  }
  .hero .mobile-menu .arrow-dark {
    display: none;
  }
  .hero .mobile-menu hr {
    display: none;
  }
  .hero .mobile-menu .desktop-menu-btns {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 0;
    font-size: 3rem;
  }
  .hero .mobile-menu .login {
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-family: Ubuntu;
    opacity: .9;
  }
  .hero .mobile-menu .sign-up {
    font-size: 1.15rem;
    background: white;
    color: #ff525d;
    white-space: nowrap;
    overflow: hidden;
  }
  .hero .mobile-menu .sign-up:hover {
    color: white;
    background-color: #ff7a85;
  }
  .hero .mobile-menu .items {
    background: white;
    opacity: 1;
    position: absolute;
    top: 4.5rem;
    text-align: left;
    padding-right: auto;
  }
  .hero .mobile-menu .items > li:hover {
    text-shadow: 1px 0px 0px #1f3f5b;
  }
  .hero .mobile-menu .items:nth-of-type(1) {
    left: 1rem;
  }
  .hero .mobile-menu .items:nth-of-type(2) {
    left: 9rem;
  }
  .hero .mobile-menu .items:nth-of-type(3) {
    left: 16rem;
  }
  .hero h1 {
    font-size: 4rem;
  }
  .hero .heading-caption {
    font-size: 1.375rem;
  }
  .hero .hero-btns {
    gap: 2rem;
  }
  .hero .hero-btns .hero-btn {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .hero .hero-btns .start-for-free:hover {
    color: white;
    background-color: #ff7a85;
  }
  .hero .hero-btns .learn-more:hover {
    color: #ff525d;
    background-color: white;
  }
  main {
    /* start white-bkg1 */
    /* end white-bkg1 */
    /* start dark-blue-bkg */
    /* end dark-blue-bg */
    /* start white-bkg2 */
    /* end white-bkg2 */
  }
  main .white-bkg1-title {
    font-size: 3rem;
    margin: 8% 0 minmax(1rem, 3rem);
    text-align: center;
    padding-bottom: 5rem;
  }
  main .white-bkg1-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    position: relative;
  }
  main .white-bkg1-flex h2 {
    font-size: 1.7rem;
    padding: 0 0 2rem;
  }
  main .white-bkg1-flex p {
    padding: 0;
    letter-spacing: .03em;
    font-size: .95rem;
  }
  main .white-bkg1-flex p:nth-of-type(1) {
    padding-bottom: 3rem;
  }
  main .white-bkg1-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 10vw;
    padding-right: 4.25rem;
    width: 100%;
    text-align: left;
    justify-self: flex-end;
  }
  main .editor {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    right: -17%;
    width: 60vw;
    max-width: 900px;
    padding-bottom: 4rem;
  }
  main .dark-blue-bkg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20rem 0 10rem;
    position: relative;
    height: 25rem;
    text-align: left;
  }
  main .dark-blue-bkg .phones {
    position: relative;
    max-width: 500px;
    position: relative;
    top: -17rem;
    left: 18%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .dark-blue-bkg .dark-blue-bkg-right {
    position: relative;
    top: -16rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5em 0 5em;
  }
  main .dark-blue-bkg .dark-blue-bkg-right h3 {
    font-size: 2.25rem;
  }
  main .dark-blue-bkg .dark-blue-bkg-right p {
    padding: 0;
  }
  main .white-bkg2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10rem;
  }
  main .white-bkg2 .laptop {
    width: 100%;
    position: relative;
    right: 21%;
    top: 5%;
    min-width: 500px;
    max-width: 900px;
  }
  main .white-bkg2 .white-bkg2-right {
    margin-right: 7vw;
  }
  /* end main */
  footer {
    margin: 5rem 0 0;
    padding: 6rem 10rem 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
  }
  footer .footer-logo {
    padding: 0;
  }
  footer .footer-title {
    padding-bottom: 2.2rem;
  }
  footer .footer-items {
    list-style-type: none;
    padding-bottom: 2.5rem;
  }
  footer .footer-items:last-child {
    padding-bottom: 4.25rem;
  }
}
/*# sourceMappingURL=style.css.map */